__pycacheG'                                                                                                     
.Python
env/
venv/
ENV/
.venv/
.env
.ENV
.venv.bak
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
!.gitignore
.DS_Store
Thumbs.db
dist/
build/
*.egg-info/
.eggs/
eggs/
parts/
develop-eggs/
.svn/
CVS/
*.swp
*.swo
*~
.project
.pydevproject
.idea/
.vscode/
__pycache__/
*.so
.Python
*.sqlite3
*.sqlite3-journal
tmp/
temp/
.DS_Store
Thumbs.db